# Конкретное имя файла
a.out

# Все файлы с расширением log
*.log

# НЕ игнорируем файл 1.log, даже если уже установлены правила для его игнорирования (см выше)
!1.log

# Игнорируем директорию build ТОЛЬКО В КОРНЕ репозитория
/build

# Игнорируем все директории с именем temp
temp/
